body{
    padding-bottom: 150px;
}

h1 {
    text-align: center;
}

.center_container{
    text-align: justify;
     margin-left: 350px;
    margin-right: 350px;

}

.subheading1{
 padding-top: 25px;

}

#fgsm_example{
    padding-top: 50px;
}

#panda_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}